<?xml version="1.0"?>
<launch>
  <!-- Call g2o_slam -->
  <node pkg="g2o_slam" type="g2o_slam3d" name="g2o_slam3d" respawn="false" output="screen" >
 	<!-- Load configurations from YAML file to parameter server -->
   	 <rosparam file="$(find g2o_slam)/config/kfp_intel.yaml" command="load"/> 
  </node>
</launch>